<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content 
must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SI7 Ansible - {% block title %} {% endblock %}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/ansible.png" />      
 {% block style %} {% endblock %}
    </head>    
    <body>
{% block body %}
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.php">    
  <img class="img" src="images/ansible.png" alt="ansible" align="left" width="50px">
    </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.php">Accueil <span class="sr-only">(current)</span></a>
      </li>
       {%if session.login is defined %}
                {%if session.role == 1 %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="index.php?page=commandes">Commandes</a>
          <a class="dropdown-item" href="index.php?page=postes">Postes</a>
          <a class="dropdown-item" href="index.php?page=executer">Exécuter</a>
          <a class="dropdown-item" href="index.php?page=utilisateurs">Utilisateurs</a>
        </div>
          {% endif %}
              {% endif %}
          {%if session.login is defined %}
                <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{session.login}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="index.php?page=deconnexion">Se déconnecter</a>
                        </div>
                </li>
              {% else %}  
                <li><a class="nav-link" href="index.php?page=connexion">Se connecter</a></li>
              {% endif %}
    </ul>
    
  </div>
</nav>
 
    <div class="row" >
        <div class="center-block col-md-12" style="float:none">   
        {% block contenu %}
        {% endblock %} 
        </div>
    </div>      
{% endblock %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js">')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/php.js"></script>
    </body>
</html>