{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %} 
    <h1>Bienvenue sur SI7 - Ansible{% if session.login is defined %}, {{session.login}} {% endif %}</h1>

{% endblock %} 
